input {
	outline: none;
}

.form-none {
	display: none;
}

.form-container {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(5px);
}

.form {
	border: 1px solid #ccca;
	padding: 20px;
	width: max-content;
	border-radius: 10px;
	background-color: white;
	position: relative;
}

.form__equix {
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 20px;
	cursor: pointer;
	width: 20px;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	border-radius: 50%;
}

.form__equix:hover {
	background-color: #0005;
	color: white;
}

.form_btn {
	display: block;
	width: min-content;
	padding: 8px 12px;
	border: none;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	margin-top: 10px;
	background-color: darkblue;
	color: white;
}
